

body {
    background-color: green;
}

.button {
    margin: 0 auto;
    border-radius: 8px;
    background-color: gray;
    width:150px;
}

.result {
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-top: 40px;
    width: 100px;
    height: 30px;

}
